Proyecto/nexus-security-group/workflow.json
{
  "name": "Twitter OSINT Monitor - Complete",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "5cefc1c6-cc14-42b8-858a-ca8aba072579",
      "name": "Schedule Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2400,
        112
      ]
    },
    {
      "parameters": {
        "functionCode": "const rateLimitKey = 'twitter_search_rate_limit';\nconst storedData = JSON.parse($execution.customData.get(rateLimitKey) || 'null');\nconst rateLimitData = storedData || {remaining: 300, reset: Date.now() + (15 * 60 * 1000)};\n\nif (Date.now() > rateLimitData.reset) {\n  rateLimitData.remaining = 300;\n  rateLimitData.reset = Date.now() + (15 * 60 * 1000);\n}\nif (rateLimitData.remaining <= 5) {\n  const waitMinutes = Math.ceil((rateLimitData.reset - Date.now()) / 60000);\n  throw new Error(`Rate limit low (${rateLimitData.remaining} remaining). Waiting ${waitMinutes} minutes.`);\n}\nrateLimitData.remaining -= 1;\n\n$execution.customData.set(rateLimitKey, JSON.stringify(rateLimitData));\n\nreturn [{json: {quota_remaining: rateLimitData.remaining, quota_reset_at: new Date(rateLimitData.reset).toISOString()}}];"
      },
      "id": "463882c6-3e35-4343-ae74-016ee3d254ab",
      "name": "Rate Limit Check",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1600,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/tweets/search/recent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=(ciberataque OR ransomware OR \"data breach\" OR phishing OR malware) lang:es -is:retweet -is:reply"
            },
            {
              "name": "max_results",
              "value": "100"
            },
            {
              "name": "tweet.fields",
              "value": "=created_at,author_id,lang,public_metrics,entities,conversation_id,referenced_tweets"
            },
            {
              "name": "user.fields",
              "value": "=username,name,verified,public_metrics,description,created_at"
            },
            {
              "name": "expansions",
              "value": "=author_id,referenced_tweets.id"
            },
            {
              "name": "start_time",
              "value": "={{ $now.minus({hours: 24}).toISO() }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "65298000-dbc1-489a-bbc6-85d4f57e51e1",
      "name": "Twitter API Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1408,
        112
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "frSYxSmQY1EQqr13",
          "name": "X account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const response = $input.item.json;\nif (!response.data || response.data.length === 0) { return []; }\nconst tweets = response.data;\nconst users = response.includes?.users || [];\nconst userMap = {};\nusers.forEach(user => { userMap[user.id] = user; });\nconst parsedTweets = tweets.map(tweet => {\n  const author = userMap[tweet.author_id] || {};\n  const urls = tweet.entities?.urls?.map(u => u.expanded_url || u.url) || [];\n  const hashtags = tweet.entities?.hashtags?.map(h => h.tag) || [];\n  const mentions = tweet.entities?.mentions?.map(m => m.username) || [];\n  const isReply = tweet.referenced_tweets?.some(rt => rt.type === 'replied_to') || false;\n  const isQuote = tweet.referenced_tweets?.some(rt => rt.type === 'quoted') || false;\n  const replyToId = tweet.referenced_tweets?.find(rt => rt.type === 'replied_to')?.id;\n  return {\n    platform: 'twitter', external_id: tweet.id, text_content: tweet.text, language: tweet.lang, created_at: tweet.created_at,\n    author_username: author.username || 'unknown', author_id: tweet.author_id, author_verified: author.verified || false,\n    author_followers_count: author.public_metrics?.followers_count || 0, author_description: author.description || null,\n    likes_count: tweet.public_metrics?.like_count || 0, shares_count: tweet.public_metrics?.retweet_count || 0,\n    replies_count: tweet.public_metrics?.reply_count || 0, views_count: tweet.public_metrics?.impression_count || 0,\n    urls: urls, hashtags: hashtags, mentions: mentions, has_media: (tweet.entities?.media && tweet.entities.media.length > 0) || false,\n    is_reply: isReply, is_quote: isQuote, reply_to_id: replyToId || null, conversation_id: tweet.conversation_id || null, raw_data: tweet\n  };\n});\nreturn parsedTweets.map(tweet => ({ json: tweet }));"
      },
      "id": "ece090e0-9e84-4b17-8f59-09e7892d12f1",
      "name": "Parse Tweets",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1200,
        112
      ]
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\n\nconst storedData = $execution.customData.get('processedTwitterIds');\nconst processedIds = new Set(storedData ? JSON.parse(storedData) : []);\n\nconst newTweets = [];\nfor (const item of items) {\n  const externalId = item.json.external_id;\n  // Bypass deduplication if tweet text contains \"#FORCE\" for testing\n  if (!processedIds.has(externalId) || (item.json.text_content && item.json.text_content.includes('#FORCE'))) { \n    newTweets.push(item); \n    processedIds.add(externalId); \n  }\n}\n\nif (processedIds.size > 10000) {\n  const idsArray = Array.from(processedIds);\n  processedIds.clear();\n  idsArray.slice(-10000).forEach(id => processedIds.add(id));\n}\n\n$execution.customData.set('processedTwitterIds', JSON.stringify(Array.from(processedIds)));\n\nif (newTweets.length === 0) {\n    console.log('⛔ Stopping execution: All ' + items.length + ' tweets were duplicates.');\n} else {\n    console.log('✅ Processing ' + newTweets.length + ' new tweets.');\n}\n\nreturn newTweets;"
      },
      "id": "24b7c207-3afe-4ea6-a280-b5cbb8683b6f",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1008,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://sentiment-api:5000/analyze",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "56e296b4-a52a-4648-b347-8e85f08d97c1",
      "name": "Sentiment Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -800,
        112
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "\nconst items = $input.all();\nconst analyzedItems = [];\n\n// Get Dynamic Keywords from 'Prepare Config' node\n// Note: In n8n v1+, use $('NodeName').first().json\nlet dbKeywords = [];\ntry {\n    const configNode = $('Prepare Config');\n    if (configNode && configNode.first()) {\n        dbKeywords = configNode.first().json.keywords || [];\n    }\n} catch (e) {\n    console.log('Could not load dynamic keywords: ' + e.message);\n}\n\n// Build keyword maps\nconst criticalKeywords = {};\nconst highKeywords = {};\nconst mediumKeywords = {};\nconst lowKeywords = {};\n\n// Defaults if DB is empty\nif (!dbKeywords || dbKeywords.length === 0) {\n    criticalKeywords['ransomware'] = 30;\n    criticalKeywords['data breach'] = 30;\n    criticalKeywords['zero-day'] = 30;\n    highKeywords['phishing'] = 20;\n    highKeywords['malware'] = 20;\n    mediumKeywords['ciberataque'] = 15;\n} else {\n    dbKeywords.forEach(k => {\n        const text = k.keyword_text.toLowerCase();\n        const weight = k.keyword_weight || 10;\n        const cat = k.keyword_category || 'medium';\n        \n        if (cat === 'critical') criticalKeywords[text] = weight;\n        else if (cat === 'high') highKeywords[text] = weight;\n        else if (cat === 'medium') mediumKeywords[text] = weight;\n        else lowKeywords[text] = weight;\n    });\n}\n\nfor (const item of items) {\n  const tweet = item.json;\n  \n  // Ensure sentiment structure exists\n  const sentiment = tweet.sentiment || {\n      vader: {},\n      textblob: {},\n      ensemble_score: 0,\n      sentiment_label: 'neutral',\n      confidence_score: 0\n  };\n\n  const threatClassification = classifyThreat(tweet, sentiment);\n\n  tweet.sentiment = sentiment;\n  tweet.threat = threatClassification;\n  analyzedItems.push({ json: tweet });\n}\n\nfunction classifyThreat(tweet, sentiment) {\n  let score = 0; \n  let matchedKeywords = []; \n  let threatType = 'general';\n  \n  const rawText = tweet.text_content || tweet.text || ''; \n  const text = rawText.toLowerCase();\n\n  // Check Critical\n  Object.entries(criticalKeywords).forEach(([kw, points]) => {\n    if (text.includes(kw)) { score += points; matchedKeywords.push(kw); threatType = 'critical_security_incident'; }\n  });\n  \n  // Check High\n  Object.entries(highKeywords).forEach(([kw, points]) => {\n    if (text.includes(kw)) { score += points; matchedKeywords.push(kw); if(threatType === 'general') threatType = 'high_threat'; }\n  });\n  \n  // Check Medium\n  Object.entries(mediumKeywords).forEach(([kw, points]) => {\n    if (text.includes(kw)) { score += points; matchedKeywords.push(kw); }\n  });\n\n  // Check Low\n  Object.entries(lowKeywords).forEach(([kw, points]) => {\n    if (text.includes(kw)) { score += points; matchedKeywords.push(kw); }\n  });\n\n  // Sentiment Impact (Negative sentiment increases risk)\n  if (sentiment.sentiment_label === 'negative' && sentiment.confidence_score > 0.6) {\n    score += 10;\n  }\n\n  // Author Impact\n  if (tweet.author_followers_count > 10000) score += 5;\n  if (tweet.author_verified) score += 10;\n\n  // Determine Level\n  let level = 'low';\n  if (score >= 50) level = 'critical';\n  else if (score >= 30) level = 'high';\n  else if (score >= 15) level = 'medium';\n\n  return {\n    threat_type: threatType,\n    criticality_level: level,\n    confidence_score: sentiment.confidence_score, // Using sentiment confidence as proxy for now\n    matched_keywords: matchedKeywords,\n    raw_score: score\n  };\n}\n\nreturn analyzedItems;\n"
      },
      "id": "f771381e-3121-4ba2-88f9-5715028cf7d6",
      "name": "Classify Threat",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -608,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO social_mentions (\n  platform, external_id, text_content, language, created_at, \n  author_username, author_id, author_verified, author_followers_count, \n  author_description, likes_count, shares_count, replies_count, \n  views_count, urls, hashtags, mentions, has_media, is_reply, \n  is_quote, reply_to_id, conversation_id, raw_data, processing_status\n) VALUES (\n  '{{ $json.platform || \"twitter\" }}', \n  '{{ $json.external_id }}', \n  {{ $json.text_content ? `'${$json.text_content.replace(/'/g, \"''\").replace(/[\\r\\n]+/g, ' ')}'` : \"'[Texto no disponible]'\" }}, \n  '{{ $json.language || \"und\" }}', \n  '{{ $json.created_at || new Date().toISOString() }}', \n  '{{ $json.author_username || \"unknown\" }}', \n  '{{ $json.author_id || \"0\" }}', \n  {{ $json.author_verified ? 'true' : 'false' }}, \n  {{ $json.author_followers_count || 0 }}, \n  {{ $json.author_description ? `'${$json.author_description.replace(/'/g, \"''\").replace(/[\\r\\n]+/g, ' ')}'` : 'NULL' }}, \n  {{ $json.likes_count || 0 }}, \n  {{ $json.shares_count || 0 }}, \n  {{ $json.replies_count || 0 }}, \n  {{ $json.views_count || 0 }}, \n  {{ $json.urls && $json.urls.length > 0 ? `ARRAY[${$json.urls.map(u => `'${u}'`).join(',')}]` : 'NULL' }}, \n  {{ $json.hashtags && $json.hashtags.length > 0 ? `ARRAY[${$json.hashtags.map(h => `'${h}'`).join(',')}]` : 'NULL' }}, \n  {{ $json.mentions && $json.mentions.length > 0 ? `ARRAY[${$json.mentions.map(m => `'${m}'`).join(',')}]` : 'NULL' }}, \n  {{ $json.has_media ? 'true' : 'false' }}, \n  {{ $json.is_reply ? 'true' : 'false' }}, \n  {{ $json.is_quote ? 'true' : 'false' }}, \n  {{ $json.reply_to_id ? `'${$json.reply_to_id}'` : 'NULL' }}, \n  {{ $json.conversation_id ? `'${$json.conversation_id}'` : 'NULL' }}, \n  '{{ JSON.stringify($json.raw_data || {}).replace(/'/g, \"''\") }}'::jsonb, \n  'processed'\n) \nON CONFLICT (platform, external_id) \nDO UPDATE SET \n  likes_count = EXCLUDED.likes_count, \n  shares_count = EXCLUDED.shares_count, \n  replies_count = EXCLUDED.replies_count, \n  views_count = EXCLUDED.views_count, \n  processing_status = 'processed', \n  last_updated = NOW() \n\nRETURNING mention_id, \n'{{ JSON.stringify($json.sentiment).replace(/'/g, \"''\") }}'::jsonb as sentiment,\n'{{ JSON.stringify($json.threat).replace(/'/g, \"''\") }}'::jsonb as threat;",
        "options": {}
      },
      "id": "c9f06664-8c29-4d90-8392-7bc0cc284e02",
      "name": "Insert Social Mention",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        -400,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "Ihb8bD4Km36GG6jx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sentiment_analysis (\n  mention_id, vader_compound, vader_pos, vader_neu, vader_neg, \n  textblob_polarity, textblob_subjectivity, final_sentiment_score, \n  sentiment_label, confidence_score, analysis_method\n) VALUES (\n  {{ $json.mention_id }}, \n  {{ $json.sentiment.vader?.compound || 0 }}, \n  {{ $json.sentiment.vader?.pos || 0 }}, \n  {{ $json.sentiment.vader?.neu || 0 }}, \n  {{ $json.sentiment.vader?.neg || 0 }}, \n  {{ $json.sentiment.textblob?.polarity || 0 }}, \n  {{ $json.sentiment.textblob?.subjectivity || 0 }}, \n  {{ $json.sentiment.ensemble_score || 0 }}, \n  '{{ $json.sentiment.sentiment_label || \"neutral\" }}', \n  {{ $json.sentiment.confidence_score || 0.5 }}, \n  'ensemble'\n) \nON CONFLICT (mention_id) \nDO UPDATE SET \n  confidence_score = EXCLUDED.confidence_score \nRETURNING sentiment_id, mention_id, \n'{{ typeof $json.threat === \"string\" ? $json.threat : JSON.stringify($json.threat || {}) }}'::jsonb as threat;",
        "options": {}
      },
      "id": "b9570b40-f2e4-4387-9f77-a58283721def",
      "name": "Insert Sentiment Analysis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        -208,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "Ihb8bD4Km36GG6jx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO threat_detections (\n  mention_id, sentiment_id, threat_type, \n  criticality_level, confidence_score, matched_keywords, \n  detection_method, risk_score\n) VALUES (\n  {{ $json.mention_id }}, \n  {{ $json.sentiment_id }}, \n  '{{ $json.threat?.threat_type || \"general\" }}', \n  '{{ $json.threat?.criticality_level || \"low\" }}', \n  {{ $json.threat?.confidence_score || 0 }}, \n  {{ $json.threat?.matched_keywords && $json.threat.matched_keywords.length > 0 ? `ARRAY[${$json.threat.matched_keywords.map(k => `'${k}'`).join(',')}]` : 'NULL' }}, \n  'heuristic', \n  {{ $json.threat?.raw_score || 0 }}\n) \nON CONFLICT (mention_id) \nDO UPDATE SET \n  risk_score = EXCLUDED.risk_score,\n  criticality_level = EXCLUDED.criticality_level\n\nRETURNING detection_id, '{{ typeof $json.threat === \"string\" ? $json.threat : JSON.stringify($json.threat || {}) }}'::jsonb as threat;",
        "options": {}
      },
      "id": "ab06a5ce-11de-4f96-89c9-1c0d015d1acf",
      "name": "Insert Threat Detection",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        0,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "Ihb8bD4Km36GG6jx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.threat.criticality_level }}",
              "value2": "critical"
            },
            {
              "value1": "={{ $json.threat.criticality_level }}",
              "value2": "high"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "b09faf74-c369-4c38-a29e-81bacb441a31",
      "name": "IF Critical or High",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        176,
        112
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#general",
          "mode": "name"
        },
        "text": "={{ $json.alert_message }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "def4cc2a-7440-46ea-b783-eb094247c821",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        432,
        -224
      ],
      "webhookId": "725187e1-822e-4d71-adb5-21e19ead9760",
      "credentials": {
        "slackApi": {
          "id": "E0iiKIG3JEzzmtpG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "hirojulian.hj@gmail.com",
        "toEmail": "legado1x@gmail.com",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.email_html }}",
        "options": {}
      },
      "id": "40c315a4-91dd-423a-8c54-b44b0b0b0795",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        544
      ],
      "webhookId": "04f283a7-25ac-4610-8625-b202a04faf48",
      "credentials": {
        "smtp": {
          "id": "S4VRaHy91OkE0AC3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all(); const alerts = []; for (const item of items) { const data = item.json; const severityEmoji = {'critical': '\ud83d\udd34', 'high': '\ud83d\udfe0', 'medium': '\ud83d\udfe1', 'low': '\u26aa'}; const emoji = severityEmoji[data.threat.criticality_level] || '\u26aa'; const slackBlocks = JSON.stringify([{\"type\": \"header\", \"text\": {\"type\": \"plain_text\", \"text\": `${emoji} ALERTA DE AMENAZA - ${data.threat.criticality_level.toUpperCase()}`}}, {\"type\": \"section\", \"fields\": [{\"type\": \"mrkdwn\", \"text\": `*Plataforma:*\\\\n${data.platform.toUpperCase()}`}, {\"type\": \"mrkdwn\", \"text\": `*Fecha:*\\\\n${new Date(data.created_at).toLocaleString('es-AR')}`}, {\"type\": \"mrkdwn\", \"text\": `*Tipo:*\\\\n${data.threat.threat_type.replace(/_/g, ' ')}`}, {\"type\": \"mrkdwn\", \"text\": `*Confianza:*\\\\n${(data.threat.confidence_score * 100).toFixed(1)}%`}]}, {\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": `*Contenido:*\\\\n>${data.text_content.substring(0, 500)}${data.text_content.length > 500 ? '...' : ''}`}}, {\"type\": \"section\", \"fields\": [{\"type\": \"mrkdwn\", \"text\": `*Autor:*\\\\n@${data.author_username}${data.author_verified ? ' \u2713' : ''}`}, {\"type\": \"mrkdwn\", \"text\": `*Seguidores:*\\\\n${data.author_followers_count.toLocaleString('es-AR')}`}]}, {\"type\": \"section\", \"fields\": [{\"type\": \"mrkdwn\", \"text\": `*Engagement:*\\\\n\u2764\ufe0f ${data.likes_count} | \ud83d\udd04 ${data.shares_count} | \ud83d\udcac ${data.replies_count}`}, {\"type\": \"mrkdwn\", \"text\": `*Sentimiento:*\\\\n${data.sentiment.sentiment_label} (${data.sentiment.ensemble_score?.toFixed(3) || 'N/A'})`}]}, {\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": `*Keywords:*\\\\n${data.threat.matched_keywords.map(k => `\\`${k}\\``).join(', ')}`}}, {\"type\": \"actions\", \"elements\": [{\"type\": \"button\", \"text\": {\"type\": \"plain_text\", \"text\": \"Ver Original\"}, \"url\": `https://twitter.com/i/status/${data.external_id}`, \"style\": \"primary\"}, {\"type\": \"button\", \"text\": {\"type\": \"plain_text\", \"text\": \"Falso Positivo\"}, \"value\": `fp_${data.detection_id}`, \"action_id\": \"mark_false_positive\"}]}, {\"type\": \"context\", \"elements\": [{\"type\": \"mrkdwn\", \"text\": `Detection ID: ${data.detection_id} | Mention ID: ${data.mention_id}`}]}]); const severityColor = {'critical': '#DC2626', 'high': '#EA580C', 'medium': '#F59E0B', 'low': '#6B7280'}; const color = severityColor[data.threat.criticality_level]; const emailHtml = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333}.container{max-width:600px;margin:0 auto;padding:20px}.header{background:${color};color:white;padding:20px;text-align:center;border-radius:5px 5px 0 0}.content{background:#f9fafb;padding:20px;border:1px solid #e5e7eb}.section{margin-bottom:20px}.label{font-weight:bold;color:#4b5563}.value{margin-top:5px}.button{display:inline-block;padding:12px 24px;background:${color};color:white;text-decoration:none;border-radius:5px;margin:10px 5px}.footer{background:#f3f4f6;padding:15px;text-align:center;font-size:12px;color:#6b7280}</style></head><body><div class=\"container\"><div class=\"header\"><h1>${emoji} ALERTA DE AMENAZA</h1><p>Criticidad: ${data.threat.criticality_level.toUpperCase()}</p></div><div class=\"content\"><div class=\"section\"><div class=\"label\">Contenido</div><div class=\"value\" style=\"background:white;padding:15px;border-left:4px solid ${color}\">${data.text_content}</div></div><div class=\"section\"><div class=\"label\">Autor</div><div class=\"value\">@${data.author_username} ${data.author_verified ? '\u2713' : ''} (${data.author_followers_count.toLocaleString('es-AR')} seguidores)</div></div><div style=\"text-align:center;margin-top:30px\"><a href=\"https://twitter.com/i/status/${data.external_id}\" class=\"button\">Ver Publicaci\u00f3n Original</a></div></div><div class=\"footer\"><p>Detection ID: ${data.detection_id} | ${new Date().toLocaleString('es-AR')}</p></div></div></body></html>`; alerts.push({json: {...data, alert_message: `${emoji} *ALERTA ${data.threat.criticality_level.toUpperCase()}*: ${data.text_content.substring(0, 100)}...`, slack_blocks: slackBlocks, email_subject: `[${data.threat.criticality_level.toUpperCase()}] Amenaza detectada en Twitter`, email_html: emailHtml}}); } return alerts;"
      },
      "id": "a9b4f398-ba38-4ac8-bc48-0e3a1172a85b",
      "name": "Build Alert Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        416,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO alerts (detection_id, alert_title, alert_message, alert_severity, channels_sent, slack_channel, sent_at, delivery_status) VALUES ({{ $json.detection_id }}, 'Amenaza {{ $json.threat.criticality_level }} detectada', '{{ $json.alert_message.replace(/'/g, \"''\") }}', '{{ $json.threat.criticality_level }}', ARRAY['slack', 'email'], '#security-alerts', NOW(), 'sent') RETURNING alert_id;",
        "options": {}
      },
      "id": "dbe12055-e4e0-42b3-b7d5-69158bf531dd",
      "name": "Log Alert in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        608,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "Ihb8bD4Km36GG6jx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO execution_logs (\n  workflow_name, execution_id, status, \n  mentions_collected, mentions_processed, detections_generated, alerts_generated, \n  started_at, completed_at\n) \nVALUES (\n  'Twitter OSINT Monitor', \n  '{{ $execution.id }}', \n  'success', \n  {{ $('Parse Tweets').itemMatching(0)?.length || 0 }}, \n  {{ $('Deduplicate').itemMatching(0)?.length || 0 }}, \n  {{ $('Insert Threat Detection').itemMatching(0)?.length || 0 }}, \n  \n  {{ (() => { try { return $('Log Alert in DB').itemMatching(0).length; } catch(e) { return 0; } })() }}, \n  \n  '{{ $execution.startedAt || new Date().toISOString() }}', \n  \n  NOW()\n);",
        "options": {}
      },
      "id": "72537f84-797c-4ecb-9690-fbe57e5f8fda",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        768,
        48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ihb8bD4Km36GG6jx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT keyword_text, keyword_weight, keyword_category FROM keywords_monitor WHERE is_active = true;",
        "options": {}
      },
      "id": "uuid-fetch-config",
      "name": "Fetch Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        -2200,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "Ihb8bD4Km36GG6jx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const keywords = $input.all().map(i => i.json);\nreturn [{ json: { keywords: keywords } }];"
      },
      "id": "uuid-prepare-config",
      "name": "Prepare Config",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2000,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Rate Limit Check": {
      "main": [
        [
          {
            "node": "Twitter API Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter API Search": {
      "main": [
        [
          {
            "node": "Parse Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tweets": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Classify Threat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Threat": {
      "main": [
        [
          {
            "node": "Insert Social Mention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Social Mention": {
      "main": [
        [
          {
            "node": "Insert Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Insert Threat Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Threat Detection": {
      "main": [
        [
          {
            "node": "IF Critical or High",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Critical or High": {
      "main": [
        [
          {
            "node": "Build Alert Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Content": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert": {
      "main": [
        [
          {
            "node": "Log Alert in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Alert": {
      "main": [
        [
          {
            "node": "Log Alert in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Alert in DB": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Config": {
      "main": [
        [
          {
            "node": "Prepare Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Config": {
      "main": [
        [
          {
            "node": "Rate Limit Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "27aaf8e7-de85-4b2a-8eef-723a21854302",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f41b8262eea2ba80e335231c92d739c069e325a4967251a3f897c5bcd857096"
  },
  "id": "pHSzhwo3PI5LjRrO",
  "tags": [
    {
      "updatedAt": "2025-12-10T01:04:16.284Z",
      "createdAt": "2025-12-10T01:04:16.284Z",
      "id": "3cZUSQixvyU5GUwp",
      "name": "OSINT"
    },
    {
      "updatedAt": "2025-12-10T01:04:16.302Z",
      "createdAt": "2025-12-10T01:04:16.302Z",
      "id": "7pPavMuzH0KNkfbX",
      "name": "Twitter"
    }
  ]
}