Proyecto/nexus-security-group/workflow.json
{
  "name": "Twitter OSINT Monitor - Complete",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger-001",
      "name": "Schedule Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const rateLimitKey = 'twitter_search_rate_limit';\nconst storedData = JSON.parse($execution.customData.get(rateLimitKey) || 'null');\nconst rateLimitData = storedData || {remaining: 300, reset: Date.now() + (15 * 60 * 1000)};\nif (Date.now() > rateLimitData.reset) {\n  rateLimitData.remaining = 300;\n  rateLimitData.reset = Date.now() + (15 * 60 * 1000);\n}\nif (rateLimitData.remaining <= 5) {\n  const waitMinutes = Math.ceil((rateLimitData.reset - Date.now()) / 60000);\n  throw new Error(`Rate limit low (${rateLimitData.remaining} remaining). Waiting ${waitMinutes} minutes.`);\n}\nrateLimitData.remaining -= 1;\n$execution.customData.set(rateLimitKey, JSON.stringify(rateLimitData));\nreturn [{json: {quota_remaining: rateLimitData.remaining, quota_reset_at: new Date(rateLimitData.reset).toISOString()}}];"
      },
      "id": "rate-limit-check-002",
      "name": "Rate Limit Check",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/tweets/search/recent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=(ciberataque OR ransomware OR \"data breach\" OR phishing OR malware) lang:es -is:retweet -is:reply"
            },
            {
              "name": "max_results",
              "value": "100"
            },
            {
              "name": "tweet.fields",
              "value": "=created_at,author_id,lang,public_metrics,entities,conversation_id,referenced_tweets"
            },
            {
              "name": "user.fields",
              "value": "=username,name,verified,public_metrics,description,created_at"
            },
            {
              "name": "expansions",
              "value": "=author_id,referenced_tweets.id"
            },
            {
              "name": "start_time",
              "value": "={{ $now.minus({minutes: 20}).toISO() }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 5000
          }
        }
      },
      "id": "twitter-api-search-003",
      "name": "Twitter API Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const response = $input.item.json;\nif (!response.data || response.data.length === 0) { return []; }\nconst tweets = response.data;\nconst users = response.includes?.users || [];\nconst userMap = {};\nusers.forEach(user => { userMap[user.id] = user; });\nconst parsedTweets = tweets.map(tweet => {\n  const author = userMap[tweet.author_id] || {};\n  const urls = tweet.entities?.urls?.map(u => u.expanded_url || u.url) || [];\n  const hashtags = tweet.entities?.hashtags?.map(h => h.tag) || [];\n  const mentions = tweet.entities?.mentions?.map(m => m.username) || [];\n  const isReply = tweet.referenced_tweets?.some(rt => rt.type === 'replied_to') || false;\n  const isQuote = tweet.referenced_tweets?.some(rt => rt.type === 'quoted') || false;\n  const replyToId = tweet.referenced_tweets?.find(rt => rt.type === 'replied_to')?.id;\n  return {\n    platform: 'twitter', external_id: tweet.id, text_content: tweet.text, language: tweet.lang, created_at: tweet.created_at,\n    author_username: author.username || 'unknown', author_id: tweet.author_id, author_verified: author.verified || false,\n    author_followers_count: author.public_metrics?.followers_count || 0, author_description: author.description || null,\n    likes_count: tweet.public_metrics?.like_count || 0, shares_count: tweet.public_metrics?.retweet_count || 0,\n    replies_count: tweet.public_metrics?.reply_count || 0, views_count: tweet.public_metrics?.impression_count || 0,\n    urls: urls, hashtags: hashtags, mentions: mentions, has_media: (tweet.entities?.media && tweet.entities.media.length > 0) || false,\n    is_reply: isReply, is_quote: isQuote, reply_to_id: replyToId || null, conversation_id: tweet.conversation_id || null, raw_data: tweet\n  };\n});\nreturn parsedTweets.map(tweet => ({ json: tweet }));"
      },
      "id": "parse-tweets-004",
      "name": "Parse Tweets",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nconst storedData = $execution.customData.get('processedTwitterIds');\nconst processedIds = new Set(storedData ? JSON.parse(storedData) : []);\nconst newTweets = [];\nfor (const item of items) {\n  const externalId = item.json.external_id;\n  if (!processedIds.has(externalId)) { newTweets.push(item); processedIds.add(externalId); }\n}\nif (processedIds.size > 10000) {\n  const idsArray = Array.from(processedIds);\n  processedIds.clear();\n  idsArray.slice(-10000).forEach(id => processedIds.add(id));\n}\n$execution.customData.set('processedTwitterIds', JSON.stringify(Array.from(processedIds)));\nconsole.log(`Deduplication: ${items.length} total, ${newTweets.length} new, ${items.length - newTweets.length} duplicates filtered`);\nreturn newTweets;"
      },
      "id": "deduplicate-005",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://sentiment-api:5000/analyze",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text_content }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "sentiment-analysis-006",
      "name": "Sentiment Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nconst analyzedItems = [];\nfor (const item of items) {\n  const tweet = item.json;\n  // Protección 1: Si falla el nodo anterior, tweet es un error. Aseguramos que sentiment sea un objeto.\n  const sentiment = tweet.sentiment_analysis || {};\n  const threatClassification = classifyThreat(tweet, sentiment);\n  tweet.sentiment = sentiment;\n  tweet.threat = threatClassification;\n  analyzedItems.push({ json: tweet });\n}\nfunction classifyThreat(tweet, sentiment) {\n  let score = 0; let matchedKeywords = []; let threatType = 'general';\n  // Protección 2: Buscamos texto en varios lugares o usamos vacío para que no falle .toLowerCase()\n  const rawText = tweet.text_content || tweet.text || '';\n  const text = rawText.toLowerCase();\n  const criticalKeywords = {'ransomware': 30, 'data breach': 30, 'filtración masiva': 30, 'zero-day': 30, 'apt': 25};\n  const highKeywords = {'phishing': 20, 'malware': 20, 'exploit': 20, 'vulnerabilidad crítica': 20, 'comprometido': 20, 'hackeado': 20};\n  const mediumKeywords = {'ataque': 10, 'amenaza': 10, 'ciberataque': 15, 'seguridad': 5, 'incidente': 10};\n  Object.entries(criticalKeywords).forEach(([kw, points]) => {\n    if (text.includes(kw)) { score += points; matchedKeywords.push(kw); threatType = 'critical_security_incident'; }\n  });\n  Object.entries(highKeywords).forEach(([kw, points]) => {\n    if (text.includes(kw)) { score += points; matchedKeywords.push(kw); if (threatType === 'general') threatType = 'security_threat'; }\n  });\n  Object.entries(mediumKeywords).forEach(([kw, points]) => {\n    if (text.includes(kw)) { score += points; matchedKeywords.push(kw); }\n  });\n  if (sentiment.sentiment_label === 'negative') { score += 15; }\n  // Protección 3: Usamos || 0 para evitar NaN en matemáticas si faltan campos\n  const likes = tweet.likes_count || 0;\n  const shares = tweet.shares_count || 0;\n  const replies = tweet.replies_count || 0;\n  const totalEngagement = likes + shares + (replies * 2);\n  if (totalEngagement > 1000) { score += 20; } else if (totalEngagement > 100) { score += 10; } else if (totalEngagement > 10) { score += 5; }\n  if (tweet.author_verified) { score += 10; }\n  const followers = tweet.author_followers_count || 0;\n  if (followers > 100000) { score += 15; } else if (followers > 10000) { score += 10; } else if (followers > 1000) { score += 5; }\n  if (tweet.urls && tweet.urls.length > 0) {\n    score += 5;\n    const suspiciousTLDs = ['.tk', '.ml', '.ga', '.cf', '.gq', '.xyz', '.top'];\n    const hasSuspiciousTLD = tweet.urls.some(url => suspiciousTLDs.some(tld => url.toLowerCase().includes(tld)));\n    if (hasSuspiciousTLD) { score += 15; threatType = 'potential_phishing'; }\n  }\n  let criticalityLevel;\n  if (score >= 60) { criticalityLevel = 'critical'; } else if (score >= 40) { criticalityLevel = 'high'; } else if (score >= 20) { criticalityLevel = 'medium'; } else { criticalityLevel = 'low'; }\n  const confidenceScore = Math.min(score / 100, 0.99);\n  return {threat_type: threatType, criticality_level: criticalityLevel, confidence_score: confidenceScore, matched_keywords: matchedKeywords, raw_score: score};\n}\nreturn analyzedItems;"
      },
      "id": "classify-threat-007",
      "name": "Classify Threat",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO social_mentions (platform, external_id, text_content, language, created_at, author_username, author_id, author_verified, author_followers_count, author_description, likes_count, shares_count, replies_count, views_count, urls, hashtags, mentions, has_media, is_reply, is_quote, reply_to_id, conversation_id, raw_data, processing_status) VALUES ('{{ $json.platform || \"twitter\" }}', '{{ $json.external_id }}', {{ $json.text_content ? `'${$json.text_content.replace(/'/g, \"''\")}'` : 'NULL' }}, '{{ $json.language || \"und\" }}', '{{ $json.created_at || new Date().toISOString() }}', '{{ $json.author_username || \"unknown\" }}', '{{ $json.author_id || \"0\" }}', {{ $json.author_verified ? 'true' : 'false' }}, {{ $json.author_followers_count || 0 }}, {{ $json.author_description ? `'${$json.author_description.replace(/'/g, \"''\")}'` : 'NULL' }}, {{ $json.likes_count || 0 }}, {{ $json.shares_count || 0 }}, {{ $json.replies_count || 0 }}, {{ $json.views_count || 0 }}, {{ $json.urls && $json.urls.length > 0 ? `ARRAY[${$json.urls.map(u => `'${u}'`).join(',')}]` : 'NULL' }}, {{ $json.hashtags && $json.hashtags.length > 0 ? `ARRAY[${$json.hashtags.map(h => `'${h}'`).join(',')}]` : 'NULL' }}, {{ $json.mentions && $json.mentions.length > 0 ? `ARRAY[${$json.mentions.map(m => `'${m}'`).join(',')}]` : 'NULL' }}, {{ $json.has_media ? 'true' : 'false' }}, {{ $json.is_reply ? 'true' : 'false' }}, {{ $json.is_quote ? 'true' : 'false' }}, {{ $json.reply_to_id ? `'${$json.reply_to_id}'` : 'NULL' }}, {{ $json.conversation_id ? `'${$json.conversation_id}'` : 'NULL' }}, '{{ JSON.stringify($json.raw_data || {}) }}'::jsonb, 'processed') ON CONFLICT (platform, external_id) DO UPDATE SET likes_count = EXCLUDED.likes_count, shares_count = EXCLUDED.shares_count, replies_count = EXCLUDED.replies_count, views_count = EXCLUDED.views_count, processing_status = 'processed', last_updated = NOW() RETURNING mention_id;"
      },
      "id": "insert-mention-008",
      "name": "Insert Social Mention",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL OSINT DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO sentiment_analysis (mention_id, vader_compound, vader_pos, vader_neu, vader_neg, textblob_polarity, textblob_subjectivity, final_sentiment_score, sentiment_label, confidence_score, analysis_method) VALUES ({{ $json.mention_id }}, {{ $json.sentiment.vader?.compound || 0 }}, {{ $json.sentiment.vader?.pos || 0 }}, {{ $json.sentiment.vader?.neu || 0 }}, {{ $json.sentiment.vader?.neg || 0 }}, {{ $json.sentiment.textblob?.polarity || 0 }}, {{ $json.sentiment.textblob?.subjectivity || 0 }}, {{ $json.sentiment.ensemble_score || 0 }}, '{{ $json.sentiment.sentiment_label || \"neutral\" }}', {{ $json.sentiment.confidence_score || 0.5 }}, 'ensemble') ON CONFLICT (mention_id) DO NOTHING RETURNING sentiment_id;"
      },
      "id": "insert-sentiment-009",
      "name": "Insert Sentiment Analysis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1850,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL OSINT DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO threat_detections (mention_id, sentiment_id, threat_type, criticality_level, confidence_score, matched_keywords, detection_method, risk_score) VALUES ({{ $json.mention_id }}, {{ $json.sentiment_id }}, '{{ $json.threat.threat_type }}', '{{ $json.threat.criticality_level }}', {{ $json.threat.confidence_score }}, {{ $json.threat.matched_keywords.length > 0 ? `ARRAY[${$json.threat.matched_keywords.map(k => `'${k}'`).join(',')}]` : 'NULL' }}, 'heuristic', {{ $json.threat.raw_score }}) ON CONFLICT (mention_id) DO UPDATE SET criticality_level = EXCLUDED.criticality_level, confidence_score = EXCLUDED.confidence_score, risk_score = EXCLUDED.risk_score, last_updated = NOW() RETURNING detection_id;"
      },
      "id": "insert-detection-010",
      "name": "Insert Threat Detection",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        2050,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL OSINT DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.threat.criticality_level }}",
              "operation": "equals",
              "value2": "critical"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "if-critical-011",
      "name": "IF Critical or High",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "channel": "#security-alerts",
        "text": "={{ $json.alert_message }}",
        "blocksUi": "={{ $json.slack_blocks }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "slack-alert-012",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2450,
        200
      ],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "Slack OSINT Workspace"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "osint-monitor@organization.com",
        "toEmail": "security-team@organization.com",
        "subject": "={{ $json.email_subject }}",
        "emailFormat": "html",
        "html": "={{ $json.email_html }}",
        "options": {
          "priority": "high"
        }
      },
      "id": "email-alert-013",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2450,
        400
      ],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP Server"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all(); const alerts = []; for (const item of items) { const data = item.json; const severityEmoji = {'critical': '🔴', 'high': '🟠', 'medium': '🟡', 'low': '⚪'}; const emoji = severityEmoji[data.threat.criticality_level] || '⚪'; const slackBlocks = JSON.stringify([{\"type\": \"header\", \"text\": {\"type\": \"plain_text\", \"text\": `${emoji} ALERTA DE AMENAZA - ${data.threat.criticality_level.toUpperCase()}`}}, {\"type\": \"section\", \"fields\": [{\"type\": \"mrkdwn\", \"text\": `*Plataforma:*\\\\n${data.platform.toUpperCase()}`}, {\"type\": \"mrkdwn\", \"text\": `*Fecha:*\\\\n${new Date(data.created_at).toLocaleString('es-AR')}`}, {\"type\": \"mrkdwn\", \"text\": `*Tipo:*\\\\n${data.threat.threat_type.replace(/_/g, ' ')}`}, {\"type\": \"mrkdwn\", \"text\": `*Confianza:*\\\\n${(data.threat.confidence_score * 100).toFixed(1)}%`}]}, {\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": `*Contenido:*\\\\n>${data.text_content.substring(0, 500)}${data.text_content.length > 500 ? '...' : ''}`}}, {\"type\": \"section\", \"fields\": [{\"type\": \"mrkdwn\", \"text\": `*Autor:*\\\\n@${data.author_username}${data.author_verified ? ' ✓' : ''}`}, {\"type\": \"mrkdwn\", \"text\": `*Seguidores:*\\\\n${data.author_followers_count.toLocaleString('es-AR')}`}]}, {\"type\": \"section\", \"fields\": [{\"type\": \"mrkdwn\", \"text\": `*Engagement:*\\\\n❤️ ${data.likes_count} | 🔄 ${data.shares_count} | 💬 ${data.replies_count}`}, {\"type\": \"mrkdwn\", \"text\": `*Sentimiento:*\\\\n${data.sentiment.sentiment_label} (${data.sentiment.ensemble_score?.toFixed(3) || 'N/A'})`}]}, {\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": `*Keywords:*\\\\n${data.threat.matched_keywords.map(k => `\\`${k}\\``).join(', ')}`}}, {\"type\": \"actions\", \"elements\": [{\"type\": \"button\", \"text\": {\"type\": \"plain_text\", \"text\": \"Ver Original\"}, \"url\": `https://twitter.com/i/status/${data.external_id}`, \"style\": \"primary\"}, {\"type\": \"button\", \"text\": {\"type\": \"plain_text\", \"text\": \"Falso Positivo\"}, \"value\": `fp_${data.detection_id}`, \"action_id\": \"mark_false_positive\"}]}, {\"type\": \"context\", \"elements\": [{\"type\": \"mrkdwn\", \"text\": `Detection ID: ${data.detection_id} | Mention ID: ${data.mention_id}`}]}]); const severityColor = {'critical': '#DC2626', 'high': '#EA580C', 'medium': '#F59E0B', 'low': '#6B7280'}; const color = severityColor[data.threat.criticality_level]; const emailHtml = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333}.container{max-width:600px;margin:0 auto;padding:20px}.header{background:${color};color:white;padding:20px;text-align:center;border-radius:5px 5px 0 0}.content{background:#f9fafb;padding:20px;border:1px solid #e5e7eb}.section{margin-bottom:20px}.label{font-weight:bold;color:#4b5563}.value{margin-top:5px}.button{display:inline-block;padding:12px 24px;background:${color};color:white;text-decoration:none;border-radius:5px;margin:10px 5px}.footer{background:#f3f4f6;padding:15px;text-align:center;font-size:12px;color:#6b7280}</style></head><body><div class=\"container\"><div class=\"header\"><h1>${emoji} ALERTA DE AMENAZA</h1><p>Criticidad: ${data.threat.criticality_level.toUpperCase()}</p></div><div class=\"content\"><div class=\"section\"><div class=\"label\">Contenido</div><div class=\"value\" style=\"background:white;padding:15px;border-left:4px solid ${color}\">${data.text_content}</div></div><div class=\"section\"><div class=\"label\">Autor</div><div class=\"value\">@${data.author_username} ${data.author_verified ? '✓' : ''} (${data.author_followers_count.toLocaleString('es-AR')} seguidores)</div></div><div style=\"text-align:center;margin-top:30px\"><a href=\"https://twitter.com/i/status/${data.external_id}\" class=\"button\">Ver Publicación Original</a></div></div><div class=\"footer\"><p>Detection ID: ${data.detection_id} | ${new Date().toLocaleString('es-AR')}</p></div></div></body></html>`; alerts.push({json: {...data, alert_message: `${emoji} *ALERTA ${data.threat.criticality_level.toUpperCase()}*: ${data.text_content.substring(0, 100)}...`, slack_blocks: slackBlocks, email_subject: `[${data.threat.criticality_level.toUpperCase()}] Amenaza detectada en Twitter`, email_html: emailHtml}}); } return alerts;"
      },
      "id": "build-alert-014",
      "name": "Build Alert Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO alerts (detection_id, alert_title, alert_message, alert_severity, channels_sent, slack_channel, sent_at, delivery_status) VALUES ({{ $json.detection_id }}, 'Amenaza {{ $json.threat.criticality_level }} detectada', '{{ $json.alert_message.replace(/'/g, \"''\") }}', '{{ $json.threat.criticality_level }}', ARRAY['slack', 'email'], '#security-alerts', NOW(), 'sent') RETURNING alert_id;"
      },
      "id": "log-alert-015",
      "name": "Log Alert in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        2650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL OSINT DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO execution_logs (workflow_name, execution_id, status, mentions_collected, mentions_processed, detections_generated, alerts_generated, started_at, completed_at) VALUES ('Twitter OSINT Monitor', '{{ $execution.id }}', 'success', {{ $('Parse Tweets').itemMatching(0)?.length || 0 }}, {{ $('Deduplicate').itemMatching(0)?.length || 0 }}, {{ $('Insert Threat Detection').itemMatching(0)?.length || 0 }}, {{ $('Log Alert in DB').itemMatching(0)?.length || 0 }}, '{{ $execution.startedAt }}', NOW());"
      },
      "id": "log-execution-016",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        2850,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL OSINT DB"
        }
      },
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Schedule Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Rate Limit Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Check": {
      "main": [
        [
          {
            "node": "Twitter API Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter API Search": {
      "main": [
        [
          {
            "node": "Parse Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tweets": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Classify Threat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Threat": {
      "main": [
        [
          {
            "node": "Insert Social Mention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Social Mention": {
      "main": [
        [
          {
            "node": "Insert Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Insert Threat Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Threat Detection": {
      "main": [
        [
          {
            "node": "IF Critical or High",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Critical or High": {
      "main": [
        [
          {
            "node": "Build Alert Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Content": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert": {
      "main": [
        [
          {
            "node": "Log Alert in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Alert": {
      "main": [
        [
          {
            "node": "Log Alert in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Alert in DB": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler-workflow-id"
  },
  "staticData": null,
  "tags": [
    {
      "id": "osint-tag-id",
      "name": "OSINT"
    },
    {
      "id": "twitter-tag-id",
      "name": "Twitter"
    }
  ],
  "meta": {
    "instanceId": "your-n8n-instance-id"
  },
  "createdAt": "2025-01-15T10:00:00.000Z",
  "updatedAt": "2025-01-15T15:30:00.000Z"
}
